<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.cafetownsend.testclass.HomePageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>employeeEdit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEmployeeAddition</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>empCountBeforeAdd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createEmployees</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>employeeDelete</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEmployeeDeletion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>doubleClickViewEmp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyWelcomeMsg</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>empCountBeforeDelete</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createEmplsinvalidDt</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
