<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 17:35:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.cafetownsend.testclass.HomePageTest@42e26948]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1445157774</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 17:35:12</td>   <td>12592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyWelcomeMsg()[pri:0, instance:com.cafetownsend.testclass.HomePageTest@42e26948]">verifyWelcomeMsg</td> 
  <td>main@1445157774</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 17:35:12</td>   <td>12637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.empCountBeforeAdd()[pri:0, instance:com.cafetownsend.testclass.HomePageTest@42e26948]">empCountBeforeAdd</td> 
  <td>main@1445157774</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 17:35:16</td>   <td>15973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.createEmployees(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.cafetownsend.testclass.HomePageTest@42e26948]">createEmployees</td> 
  <td>main@1445157774</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 17:35:17</td>   <td>17001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.createEmployees(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.cafetownsend.testclass.HomePageTest@42e26948]">createEmployees</td> 
  <td>main@1445157774</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 17:35:17</td>   <td>17840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.validateEmployeeAddition()[pri:0, instance:com.cafetownsend.testclass.HomePageTest@42e26948]">validateEmployeeAddition</td> 
  <td>main@1445157774</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 17:35:18</td>   <td>18689</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.cafetownsend.testclass.HomePageTest@42e26948]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1445157774</td>   <td></td> </tr>
</table>
