<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cafetownsend-Angular-Rails</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 19:36:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.aloginCredential()[pri:0, instance:com.cafetownsend.testclass.LoginPageTest@53b32d7]">aloginCredential</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/08/12 19:36:38</td>   <td>28044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.createEmployees(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.cafetownsend.testclass.HomePageTest@4667ae56]">createEmployees</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/08/12 19:36:39</td>   <td>29033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.createEmployees(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.cafetownsend.testclass.HomePageTest@4667ae56]">createEmployees</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/08/12 19:36:44</td>   <td>33816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.createEmplsinvalidDt(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.cafetownsend.testclass.HomePageTest@4667ae56]">createEmplsinvalidDt</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/08/12 19:36:49</td>   <td>38229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.doubleClickViewEmp(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.cafetownsend.testclass.HomePageTest@4667ae56]">doubleClickViewEmp</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/08/12 19:36:36</td>   <td>25550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.empCountBeforeAdd()[pri:0, instance:com.cafetownsend.testclass.HomePageTest@4667ae56]">empCountBeforeAdd</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/08/12 19:36:51</td>   <td>40702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.empCountBeforeDelete()[pri:0, instance:com.cafetownsend.testclass.HomePageTest@4667ae56]">empCountBeforeDelete</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/08/12 19:36:53</td>   <td>42929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.employeeDelete(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.cafetownsend.testclass.HomePageTest@4667ae56]">employeeDelete</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/08/12 19:36:46</td>   <td>35436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.employeeEdit(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.cafetownsend.testclass.HomePageTest@4667ae56]">employeeEdit</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 19:36:23</td>   <td>12177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.invalidLogin()[pri:0, instance:com.cafetownsend.testclass.LoginPageTest@53b32d7]">invalidLogin</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 19:35:45</td>   <td>-24924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.cafetownsend.testclass.LoginPageTest@53b32d7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 19:36:00</td>   <td>-10901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.cafetownsend.testclass.LoginPageTest@53b32d7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 19:36:12</td>   <td>1323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.cafetownsend.testclass.LoginPageTest@53b32d7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/08/12 19:36:24</td>   <td>13629</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.cafetownsend.testclass.HomePageTest@4667ae56]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 19:35:59</td>   <td>-11204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.cafetownsend.testclass.LoginPageTest@53b32d7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 19:36:11</td>   <td>1023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.cafetownsend.testclass.LoginPageTest@53b32d7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 19:36:24</td>   <td>13370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.cafetownsend.testclass.LoginPageTest@53b32d7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/08/12 19:36:58</td>   <td>47615</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.cafetownsend.testclass.HomePageTest@4667ae56]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/08/12 19:36:40</td>   <td>29998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.validateEmployeeAddition()[pri:0, instance:com.cafetownsend.testclass.HomePageTest@4667ae56]">validateEmployeeAddition</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/08/12 19:36:54</td>   <td>43261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.validateEmployeeDeletion()[pri:0, instance:com.cafetownsend.testclass.HomePageTest@4667ae56]">validateEmployeeDeletion</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/08/12 19:35:59</td>   <td>-11235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.validateLoginTitle()[pri:0, instance:com.cafetownsend.testclass.LoginPageTest@53b32d7]">validateLoginTitle</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/08/12 19:36:36</td>   <td>25514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyHomePageWelcomeMsg()[pri:0, instance:com.cafetownsend.testclass.HomePageTest@4667ae56]">verifyHomePageWelcomeMsg</td> 
  <td>main@1318822808</td>   <td></td> </tr>
</table>
