<h2>Reporter output</h2><table><tr><td>Welcome to Login Page Test Cases</td></tr>
<tr><td>Welcome to Login Page Test Cases</td></tr>
<tr><td>Welcome to Login Page Test Cases</td></tr>
<tr><td>Welcome to Home Page Test Cases</td></tr>
<tr><td>Successfully Verified Home Page Welcome Message</td></tr>
<tr><td>No. Of Employees Before Adding : 500</td></tr>
<tr><td>Count of Employees after adding : 502</td></tr>
<tr><td>Successfully Added employees retrived from Excel testdata sheet</td></tr>
<tr><td>Invalid Date has been entered</td></tr>
<tr><td>Edited the Employee Data Successfully</td></tr>
<tr><td>Double click on edited Employee to view Details</td></tr>
<tr><td>No. Of Employees Before Deleting : 502</td></tr>
<tr><td>Count of Employees after Deleting : 501</td></tr>
<tr><td>Successfully Deleted employees</td></tr>
<tr><td>Application successfully Logged Out</td></tr>
</table>